* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(49, 0, 57);
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.preload-image {
    display: none;
}

.application-holder {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    scroll-behavior: smooth;
}

.content-container {
    width: 100%;
    height: fit-content;
    position: relative;
}

.fullscreen-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 24px 12px; /* -> */
}

.main-section-outter {
    width: 70%; /* -> */
    margin-top: 72px;
    min-height: calc(100vh - 60px - 24px); 
    border: 1px solid rgba(28, 28, 28, 0.188);
    border-radius: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.866);
    z-index: 10;
    -webkit-backdrop-filter: blur(3px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(3px); /* Supported in Chrome 76 */
}

.background-image, .background-color {
    position: absolute;
    width: 100%;
    height: 100%;
}
.background-image {
    background-image: url("/assets/tileless_background_1_colored.png");
    background-size: 150px;
    opacity: 0.2;
    z-index: 5;
}
.background-color {
    background-color: aliceblue;
    z-index: 2;
}

.home-section {
    font-size: 18px; /* -> */
    margin-top: 24px; /* -> */
    margin-bottom: 12px; /* -> */
    min-height: calc(100vh - 48px); /* -> */
}
.language-switcher {
    font-size: 100%; /* -> */
    width: fit-content;
    position: absolute;
    top: 1.2em;
    right: 1.5em;
}
.language-switcher > span {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.language-switcher > span:hover {
    color: rgb(225, 52, 52);
}

.language-switcher-active {
    color: rgb(225, 52, 52);
}

.menu {
    font-size: 100%; /* -> */
    position: absolute;
    top: calc(50% - 10em/2);
    left: 10%; /* -> */
    opacity: 0;
}
.menu-animation {
    animation: forwards 1s menu_appearing 2.5s;
}

@keyframes menu_appearing {
    0% {
        margin-left: -1.2em;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

.menu ul {
    padding: 0;
}
.menu-section {
    font-size: 1em;
    margin-bottom: 1.6em;
    user-select: none;
    cursor: pointer;
}
.menu-section a {
    text-decoration: none;
    color: inherit;
}

.icon-holder {
    position: relative;
}
.icon-holder img {
    width: 1.5em;
    height: auto;
    position: absolute;
    top: 0.75em;
    left: -1.8em;
    
    transform: translate(0, -50%);
}
.icon-holder > img:nth-child(2) {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.menu-section:hover .icon-holder > img:nth-child(2) {
    opacity: 0.8;
}

.logo {
    width: 25em; /* -> */
    position: absolute;
    top: 43%; /* -> */
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo > img {
    width: 100%;
    height: auto;
}

.candles-logo {
    width: 34em; /* -> */
    position: absolute;
    top: 70%; /* -> */
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.candles-logo > img {
    width: 100%;
    height: auto;
}

.divider {
    border-top: 2px solid rgb(214, 28, 28);
    height: 2em;
    width: 0px;
    position: absolute;
    transform: translate(-50%, 0);
    top: 89%; /* -> */
    left: 50%;
}
.divider-animation {
    animation: forwards 1500ms wider;
    animation-delay: 0.5s;
    overflow: hidden;
}

@keyframes wider {
    from {width: 0px;}
    to {width: 13em;} /* -> */
}

.description {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%; /* -> */
    user-select: none;
    width: 13em;
    text-align: center;
    display: none;
}
.description-animation {
    display: block;
    animation: forwards 1.3s downer;
    animation-delay: 1.3s;
}

@keyframes downer {
    from {top: -2em;} 
    to {top: 0.8em;} /* -> */
}

.separator {
    overflow: hidden;
    height: 1px;
    z-index: 10;
    position: relative;
}

.separator > div {
    height: 20px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='10%2c 15' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
}

.about-us-section {
    background-color: #fff7f5d8;
    overflow: hidden;
    font-size: 27px; /* -> */
}

.about-us-background-image {
    background-image: url('/assets/winter_lake.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.about-us-section-description {
    position: absolute;
    top: 85px; /* -> */
    left: 10%; /* -> */
    width: 700px; /* -> */
}
.about-us-section-description span, .about-us-section-description-for > div > div:nth-child(1) {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 465%; 
    line-height: 1.1em;
    margin-top: -0.18em;
    padding: 0;
    color: rgb(49, 0, 57);
    display: block;
    text-align: start; /* -> */
}
.about-us-section-description-for > div:nth-child(1) {
    margin: 0;
}
.about-us-section-description span:nth-child(3) > span {
    width: fit-content;
    font-size: inherit;
    display: inline;
    background: #DA22E0;
    background: -webkit-linear-gradient(to right, #DA22E0 8%, #E6230E 50%, #F2BA00 75%);
    background: -moz-linear-gradient(to right, #DA22E0 8%, #E6230E 50%, #F2BA00 75%);
    background: linear-gradient(to right, #DA22E0 8%, #E6230E 50%, #F2BA00 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-us-section-description-for {
    display: flex;
    justify-content: start;  /* -> */
    margin-left: 0em; /* -> */
}
.about-us-section-descriptions-and-for-holder {
    display: flex;
    flex-direction: row;
}
.for {
    display: inline-block;
    position: relative;
} 

.about-us-section-descriptions-and-for {
    width: fit-content;
}

.about-us-section-descriptions-holder {
    font-size: 1em;
    width: 11em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.4em;
    margin-left: 0.7em;
    line-height: 1.23em;
    padding: 0;
}

.about-us-section-for-description-holder {
    overflow: hidden;
}
.about-us-section-for-description {
    position: relative;
    top: -110%;
    display: block;
    margin-right: 0.4em;
}

.about-us-section-text-and-devider-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -2em; /* -> */
    text-align: right; /* -> */
}
.about-us-section-devider-holder {
    width: 0%;
    height: 0.15em;
    overflow: hidden;
}
.about-us-section-devider-holder-animation {
    animation: forwards 1.2s devider-appearing-from-left-to-right 3s ease-in-out;
}
.about-us-section-devider {
    width: 100%;
    height: 0.15em;
    border-radius: 0.2em;
    background-color: #de0b0b;
}
@keyframes devider-appearing-from-left-to-right {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
.drop-down-text-animation {
    animation: forwards 1s text-appearing-from-top-to-bot ease-in-out;
}

.about-us-section-additional-text-how-holder {
    overflow: hidden;
    width: 100%;
    height: 1.7em;
    text-align: inherit; 
}
.about-us-section-additional-text-how {
    font-size: 1.1em;
    position: relative;
    top: 100%;
}
.about-us-section-additional-text-how-animation {
    animation: forwards 1.5s text-appearing-from-bot-to-top 3.6s;
}
@keyframes text-appearing-from-bot-to-top {
    0% {
        top: 100%;
        opacity: 0;
    }
    50% {
        top: 50%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.about-us-fire-icon {
    cursor: pointer;
    text-decoration: none;
}
.about-us-section-additional-text-learn-more-holder {
    overflow: hidden;
    width: 100%;
    height: 5em;
    vertical-align: top;
    text-align: inherit;
}
.about-us-section-additional-text-learn-more {
    top: -180%;
    font-size: 0.9em;
    position: relative;
}
.about-us-section-additional-text-learn-more-animation {
    animation: forwards 1.5s text-appearing-from-top-to-bot 4.4s;
}

@keyframes text-appearing-from-top-to-bot {
    0% {
        top: -180%;
        opacity: 0;
    }
    50% {
        top: -50%;
        opacity: 0;
    }
    100% {
        top: 0%;
        opacity: 1;
    }
}

.about-us-section-flame {
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    opacity: 0;
    height: 300px;
    --flame-size: 1200px;
    z-index: -1;
}
.flame-1 {
    background-image: url("/assets/flame_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}
.flame-2 {
    background-image: url("/assets/flame2_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}
.flame-3 {
    background-image: url("/assets/flame3_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}

.flame-animation {
    animation: infinite 6s flame-animation;
}

@keyframes flame-animation {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.description-section {
    font-size: 18px;
    height: fit-content !important;
    min-height: fit-content !important;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description-section-header {
    position: relative;
    top: 20px;
    height: fit-content;
    font-size: 0.8em;
    width: fit-content;
    opacity: 0;
}
.description-section-header-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 0.5s;
}

.description-section-header p {
    margin: 0;
    padding: 0;
    color: rgb(49, 0, 57);
}
.description-section-header p:nth-child(1) {
    font-family: 'Satisfy', cursive;
    font-size: 550%;
    line-height: 1em;
}
.description-section-labor {
    position: relative;
    font-size: 100%;
    font-style: italic;
    width: fit-content;
}
.description-section-labor-en-position {
    top: -1.9em;
    left: 4.5em;
}
.description-section-labor-sw-position {
    top: -1.5em;
    left: -2.5em;
}

.description-section-labor span {
    font-family: 'Satisfy', cursive;
    font-size: 170%;
    line-height: 2em;
    margin-left: 0.15em;
    font-style: normal;
}

.description-section-offer {
    font-size: 100%;
    font-style: italic;
    position: relative;
    width: fit-content;
    font-style: italic;
}
.description-section-offer-en-position {
    top: -3.3em;
    left: 5.3em;
}
.description-section-offer-sw-position {
    top: -2.7em;
    left: -0.5em;
}

.description-menu-and-image-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-width: 680px;
    margin-left: 80px;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.description-image-holder {
    width: 400px; 
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
 }
.description-image-holder-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 1.5s;
}
.description-image-holder img {
    width: 100%;
}
.image-enter {
    animation: forwards 0.4s image-enter;
}
.image-leave {
    animation: forwards 0.4s image-leave;
}
@keyframes image-enter {
    from {
        opacity: 0;
        transform: translate(0, -15px);
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes image-leave {
    from {
        opacity: 1;
        margin-top: 0px;
    }
    to {
        opacity: 0;
        transform: translate(0, -15px);
    }
}

.description-menu {
    margin-top: -20px;
    opacity: 0;
}
.description-menu-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 1s;
}

.description-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 13em;
}

.description-menu-section:hover .icon-holder  img:nth-child(2) {
    opacity: 0.8;
}

.description-menu-section {
    user-select: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 40px;
    flex: 1;
}

.products-section {
    --pills-margin: 10px;
    height: fit-content !important;
    min-height: fit-content !important;
    font-size: 18px; 
}
.products-section-header {
    font-size: 1.3em;
    margin-top: 1em;
    padding: 0 1em;
}
.products-section-subheader {
    font-size: 1.1em;
    margin-top: 0.75em;
    padding: 0 1em;
}
.products-section-pills-holder {
    padding: 0.75em 0.75em 0;
    opacity: 0;
}
.products-section-pills-holder-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 0.5s;
}
.products-section-pills-holder > div {
    margin-left: calc(var(--pills-margin) * -1);
    margin-top: calc(var(--pills-margin) * -1);
}
.products-section-pill-element {
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 40px;
    cursor: pointer;
    margin-top: calc(var(--pills-margin));
    margin-left: calc(var(--pills-margin));
    transition: all 0.2s ease-in-out;
}
.products-section-pill-element:hover {
    background-color: rgb(171, 14, 124);
    color: white;
}
.products-section-pill-element-activated {
    background-color: rgb(171, 14, 124);
    color: white;
}
.product-detail-holder {
    opacity: 0;
}
.product-detail-holder-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 1.2s;
}
@keyframes transform-px-from-top-to-bot {
    from {
        transform: translate(0, -15px);
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.selected-product-detail {
    padding: 15px;
}
.selected-product-detail-image-holder {
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75em;
}
.selected-product-detail-image-holder img {
    width: 100%;
    height: auto;
}
.selected-product-detail-name {
    margin-top: 0.75em;
    font-size: 1.1em;
}
.selected-product-detail-description {
    width: 100%;
    margin-top: 0.75em;
    position: relative;
}
.selected-product-detail-description-text {
    height: 100%;
    overflow: auto;
}
.product-detail-contact-info {
    opacity: 0;
}
.product-detail-contact-info-animation {
    animation: forwards 0.8s transform-px-from-top-to-bot ease-out 0.5s;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(225, 52, 52);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}