* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(49, 0, 57);
}

#app {
    width: 100%;
    position: relative;
}

.fullscreen-section {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.background-image, .background-color {
    position: absolute;
    width: 100%;
    height: 100%;
}
.background-image {
    background-image: url("/assets/tileless_background_1_colored.png");
    background-size: 150px;
    opacity: 0.2;
    z-index: 5;
}
.background-color {
    background-color: aliceblue;
    z-index: 2;
}

.main-section-outter {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(28, 28, 28);
    border-radius: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.866);
    z-index: 10;
    -webkit-backdrop-filter: blur(3px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(3px); /* Supported in Chrome 76 */
}

.language-switcher {
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 30px;
}

.language-switcher > span {
    cursor: pointer;
}

.language-switcher > span:hover {
    color: rgb(225, 52, 52);
}

.menu {
    position: absolute;
    top: calc(50% - 141px/2);
    left: 15%;
    opacity: 0;
    animation: forwards 1s menu_appearing 2.5s;
}
@keyframes menu_appearing {
    0% {
        margin-left: -40px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

.menu ul {
    padding: 0;
}
.menu-section {
    margin-bottom: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 18px; /* -> */
}

.icon-holder {
    position: relative;
}
.icon-holder img {
    width: 26px; /* -> */
    height: auto;
    position: absolute;
    top: 13px; /* -> width / 2 */
    left: -31px; /* -> width * -1 - 5 */
    transform: translate(0, -50%);
}
.icon-holder > img:nth-child(2) {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.menu-section:hover .icon-holder > img:nth-child(2) {
    opacity: 0.8;
}

.logo {
    width: 380px; /* -> */
    position: absolute;
    top: 43%; /* -> */
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo > img {
    width: 100%;
    height: auto;
}

.candles-logo {
    width: 450px; /* -> */
    position: absolute;
    top: 70%; /* -> */
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.candles-logo > img {
    width: 100%;
    height: auto;
}

.divider {
    border-top: 2px solid  rgb(214, 28, 28);
    height: 40px;
    width: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 89%; /* -> */
    left: 50%;
    animation: forwards 1500ms wider;
    animation-delay: 0.5s;
    overflow: hidden;
}

@keyframes wider {
    from {width: 0px;}
    to {width: 180px;} /* -> */
}

.description {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; /* -> */
    user-select: none;
    width: 200px;
    text-align: center;
    animation: forwards 1.3s downer;
    animation-delay: 1.3s;
}

@keyframes downer {
    from {top: -20px;} 
    to {top: 14px;} /* -> */
}

.separator {
    overflow: hidden;
    height: 1px;
    z-index: 10;
    position: relative;
}

.separator > div {
    height: 20px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='10%2c 15' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
}

.about-us-section {
    background-color: #fff7f5d8;
    overflow: hidden;
}

.about-us-background-image {
    background-image: url('/assets/winter_lake.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.about-us-section-description {
    position: absolute;
    top: 85px;
    left: 10%;
}
.about-us-section-description p, .about-us-section-description-for > div:nth-child(1) {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 93px;
    margin: 0;
    line-height: 84px;
    padding: 0;
    color: rgb(49, 0, 57);
}
.about-us-section-description p:nth-child(3)::after {
    /* content: "🔥";
    font-size: 0.7em;
    vertical-align: top; */
}
.about-us-section-description p:nth-child(3) {
    background: #DA22E0;
    background: -webkit-linear-gradient(to right, #DA22E0 15%, #E6230E 50%, #F2BA00 75%);
    background: -moz-linear-gradient(to right, #DA22E0 15%, #E6230E 50%, #F2BA00 75%);
    background: linear-gradient(to right, #DA22E0 15%, #E6230E 50%, #F2BA00 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-us-section-description-for {
    display: flex;
    flex-direction: row;
}
.about-us-section-description-for > div:nth-child(2) {
    height: fit-content;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    margin-left: 15px;
    line-height: 24px;
    padding: 0;
    font-size: 22px;
}
.about-us-section-description-for > div:nth-child(2) > div {
    display: block;
    margin-right: 6px;
}

.about-us-section-additional-description {
    font-size: 19px;
}
.about-us-section-additional-description span:nth-child(-1n+4) {
    margin: 0 9px 0 0;
}

.about-us-section-for-description-holder {
    overflow: hidden;
}
.about-us-section-for-description {
    position: relative;
    top: -110%;
}

.about-us-section-devider-holder {
    height: 60px;
    position: absolute;
    left: 5%;
    top: 420px;
    overflow: hidden;
    animation: forwards 1.5s devider-appearing-from-left-to-right 3s ease-in-out;
}
.about-us-section-devider {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #de0b0b;
}
.drop-down-text-animation {
    animation: forwards 1s text-appearing-from-top-to-bot ease-in-out;
}

@keyframes devider-appearing-from-left-to-right {
    from {
        width: 0%;
    }
    to {
        width: 65%;
    }
}
.about-us-section-additional-text-how-holder {
    overflow: hidden;
    width: auto;
    height: 37px;
    position: absolute;
    top: 420px;
    left: 70%;
    transform: translate(-100%, -100%);
}
.about-us-section-additional-text-how {
    font-size: 22px;
    position: relative;
    top: 100%;
    animation: forwards 1.5s text-appearing-from-bot-to-top 3.6s;
}
.about-us-fire-icon {
    cursor: pointer;
}
@keyframes text-appearing-from-bot-to-top {
    0% {
        top: 100%;
        opacity: 0;
    }
    50% {
        top: 50%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.about-us-section-additional-text-learn-more-holder {
    overflow: hidden;
    width: auto;
    height: 45px;
    position: absolute;
    top: 425px;
    left: 70%;
    transform: translate(-100%, 0);
}
.about-us-section-additional-text-learn-more {
    font-size: 18px;
    position: relative;
    width: 500px;
    top: 100%;
    animation: forwards 1.5s text-appearing-from-top-to-bot 4.4s;
    text-align: end;
}
@keyframes text-appearing-from-top-to-bot {
    0% {
        top: -110%;
        opacity: 0;
    }
    50% {
        top: -50%;
        opacity: 0;
    }
    100% {
        top: 0%;
        opacity: 1;
    }
}

.about-us-section-flame {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    opacity: 0;
    height: 300px;
    --flame-size: 800px;
}
.flame-1 {
    background-image: url("/assets/flame_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}
.flame-2 {
    background-image: url("/assets/flame2_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}
.flame-3 {
    background-image: url("/assets/flame3_tileless.png");
    background-position: bottom;
    background-size: var(--flame-size);
    background-repeat: repeat-x;
}

.flame-animation {
    animation: infinite 6s flame-animation;
}

@keyframes flame-animation {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.description-section-header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    height: fit-content;
    vertical-align: top;
}

.description-section-header p {
    margin: 0;
    padding: 0;
    color: rgb(49, 0, 57);
    text-align: center;
}
.description-section-header p:nth-child(1) {
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 100px;
    line-height: 84px;
}
.description-section-header p:nth-child(2) {
    position: relative;
    top: -23px;
    left: 20px;
    font-size: 18px;
    font-style: italic;
}
.description-section-header p:nth-child(2) span {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    line-height: 55px;
    margin-left: 5px;
    font-style: normal;
}

.description-section-offer {
    position: relative;
    font-size: 18px;
    width: fit-content;
    font-style: italic;
    top: -35px;
    left: 85px;
}

.description-image-holder {
    width: 309px;
    height: 309px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    top: 68%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 2px solid red;
}
.description-image-holder img {
    width: 100%;
}
.image-enter {
    animation: forwards 0.4s image-enter;
}
.image-leave {
    animation: forwards 0.4s image-leave;
}
@keyframes image-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes image-leave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.description-menu {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(0, -50%);
}

.description-menu ul {
    padding: 0;
}
.description-menu-section {
    margin-bottom: 3.5vh;
    user-select: none;
    cursor: pointer;
    font-size: 18px; /* -> */
    width: 200px; /* -> */
}

.icon-holder {
    position: relative;
}

.icon-holder img {
    width: 26px; /* -> */
    height: auto;
    position: absolute;
    top: 13px; /* -> width / 2 */
    left: -31px; /* -> width * -1 - 5 */
    transform: translate(0, -50%);
}
.icon-holder > img:nth-child(2) {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.description-menu-section:hover .icon-holder > img:nth-child(2) {
    opacity: 0.8;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(225, 52, 52);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}